ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #7091e6;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

li a {
    display: block;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
    font-size: large;
}

li a:hover {
    background-color: #8697ca;
    color: white;
}


html, body {
    margin: 0;
    background-color: #adbbda;
}

p {
    text-align: center;
    font-size: large;
}