.grid-container {
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20% 20% 20% 20% 20% 20%;
  grid-template-columns:20% 20% 20% 20% 20%;
}
.item1 {
  grid-row: span 1;
  grid-column: span 6;
}
.item2 {
  grid-row: span 2;
  grid-column: span 2;
}
.item3 {
  grid-row: span 2;
  grid-column: span 4;

}
.item4 {
  grid-row: span 1;
  grid-column: span 6;
}
.item5 {
  grid-row: span 1;
  grid-column: span 6;
}