<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <div class="container">
        <h1>Opprett Bruker</h1>
        <form id="registerForm" action="/registrer" method="POST">
            <label for="username">Brukernavn:</label>
            <input type="text" id="username" name="username" required>

            <label for="email">E-post:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Passord:</label>
            <input type="password" id="password" name="password" required>

            <label for="confirmPassword">Gjenta Passord:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>

            <button type="submit" id="submitBtn">Opprett Bruker</button>
        </form>
        <div id="errorMessage" class="error"><%= typeof error !== 'undefined' ? error : '' %></div>
        <div class="link">
            <a href="/loginn">Har du allerede en konto? Logg inn her.</a>
        </div>
    </div>

    <script>
        document.getElementById('registerForm').addEventListener('submit', function (e) {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;
            if (password !== confirmPassword) {
                e.preventDefault();
                document.getElementById('errorMessage').innerText = 'Passordene stemmer ikke overens';
            } else {
                document.getElementById('submitBtn').innerText = 'Oppretter Bruker...';
            }
        });
    </script>
</body>
</html>
